body {
  font-family: Arial, sans-serif;
  margin: 20px;
  padding: 20px;
  background-color: #e4dcdc;
}
h2 {
  text-align: center;
  color: #333;
}
form {
  max-width: 600px;
  margin: 0 auto;
  padding: 50px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(197, 24, 24, 0.1);
  border: 2px solid black;
}
label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}
input[type="text"],
input[type="number"],
input[type="file"],
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}
button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}
button:hover {
  background-color: #0056b3;
}
.book-list {
  margin: auto;
  /* border: 1px solid black; */
  margin-top: 20px;
  margin-bottom: 50px;
  padding: 10px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 80vw;
  height: 500px;
  overflow: auto;
  /* border-bottom: 2px solid black; */
}
.book-item {
  margin-bottom: 30px;
}

img {
  max-width: 100px;
  height: auto;
  margin-bottom: 10px;
}
.file-link {
  display: block;
  margin-top: 10px;
}

.update-btn {
  width: 30%;
  margin: auto;
  margin-top: 20px;
}
